PORT=5001
NODE_ENV=development
JWT_SECRET_KEY=

DATABASE_URL=""

# AWS S3 / Cloudflare R2 (Для завантаження файлів більших за 2GB та аватарів)
AWS_REGION="auto"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME=""
AWS_ENDPOINT=""

R2_PUBLIC_URL=""